<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seakmeng CS223 Final Project</title>

    <style>
        .main {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>This is Main Page</h1>
        <a href="./taskadd">Add Task</a>
        <a href="./tasks">Task List</a>
        <a href="./taskedit">Edit Task</a>
    </div>
</body>

</html>