<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <nav>
        <a href="../"><button class="btn btn-dark">Go to main page</button></a>
        <a href="../tasks"><button class="btn btn-info">Go to task list</button></a>
        <a href="../taskadd"><button class="btn btn-primary">Add task</button></a>
    </nav>
    <div th:each="taskToEdit: ${taskedit}">
        <form method="post">
            <div class="form-group">
                <label for="taskDate">Task Date</label>
                <input type="text" th:value="${taskToEdit.task_date}" name="task_date" class="form-control"
                    id="taskDate" placeholder="Enter task date">
            </div>
            <div class="form-group">
                <label for="taskName">Task Name</label>
                <input type="text" th:value="${taskToEdit.task_name}" name="task_name" class="form-control"
                    id="taskName" placeholder="Enter task name">
            </div>
            <div class="form-group">
                <label for="taskDescription">Task Description</label>
                <input type="text" th:value="${taskToEdit.task_description}" name="task_description"
                    class="form-control" id="taskDescription" placeholder="Enter task description">
            </div>
            <div class="form-group">
                <label for="taskStatus">Task Status</label>
                <input type="text" th:value="${taskToEdit.task_status}" name="task_status" class="form-control"
                    id="taskStatus" placeholder="Enter task status">
            </div>
            <button type="submit" class="btn btn-primary">Edit Student</button>
        </form>
    </div>

</body>

</html>