<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tasks List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <nav>
        <a href="./"><button class="btn btn-dark">Go to main page</button></a>
        <a href="./taskadd"><button class="btn btn-info">Add task</button></a>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.task_date}"></td>
                <td th:text="${task.task_name}"></td>
                <td th:text="${task.task_description}"></td>
                <td th:text="${task.task_status}"></td>
                <td><a th:href="'/task?id='+${task.id}">
                        <button class="btn btn-warning">Details</button>
                    </a></td>

            </tr>

        </tbody>

    </table>
</body>

</html>